{% extends "revision_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<legend> Successfully exited, you can download your inventory file here :</legend>

<input style="margin-top:50px" type="submit" value="Download"  onclick="location.href='{% url 'download' %}'">

<div style="margin-top:50px">
    <style>
    #goods {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #goods td, #goods th {
      border: 1px solid #ddd;
      padding: 0px;
    }

    #goods tr:nth-child(even){background-color: #f2f2f2;}

    #goods tr:hover {background-color: #ddd;}

    #goods th {
      padding-top: px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #0B4C5F;
      color: white;
    }
     {{ form|crispy }}
    </style>

    <table id="goods" style="margin-bottom:50px"  >
        <tr><th>Name</th><th>Price</th><th>Quantity</th></tr>
        {% for good in goods %}
                <tr><td align="right">{{ good.name }}</td><td align="right">{{ good.quantity }}</td><td align="right">{{ good.price}}</td></tr>
        {% endfor %}
    </table>
<div >
    <div class="pagination" >
        <span class="step-links">
            {% if goods.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ goods.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ goods.number }} of {{ goods.paginator.num_pages }}.
            </span>

            {% if goods.has_next %}
                <a href="?page={{ goods.next_page_number }}">next</a>
                <a href="?page={{ goods.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
<div>
{% endblock content %}

