{% extends "revision_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post">{% csrf_token %}
    {{ form|crispy }}
    <input style="margin-top:50px" type="submit" value="Save operation" >
    <input type="reset" value="Save all and exit" onclick="location.href='{% url 'end' %}'">
</form>
<p></p>
<div style="margin-top:50px">
    <style>
    #goods {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      table-layout: auto;
      width: 100%;
    }

    #goods td, #goods th {
      border: 1px solid #ddd;
      padding: 0px;
    }

    #goods tr:nth-child(even){background-color: #f2f2f2;}

    #goods tr:hover {background-color: #ddd;}

    #goods th {
      padding-top: px;
      padding-bottom: 24px;
      text-align: center;
      background-color: #0B4C5F;
      color: white;
    }

    </style>

    <table id="goods", >
        <tr><th>Name</th><th>Price</th><th>Quantity</th></tr>
        {% for good in goods %}
                <tr><td align="right">{{ good.name }}</td><td align="right">{{ good.quantity }}</td><td align="right">{{ good.price}}</td></tr>
        {% endfor %}
    </table>
</div>
    <p  style="padding-top:20px" >Last five records</p>

    <input style="margin-top:50px" type="submit" onclick="location.href='{% url 'delete' %}'" value="Delete last record" >


{% endblock content %}